<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;">

  <span class="mask bg-gradient-danger opacity-8"></span>

</div>

<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Formulário da Escola</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-primary">Salvar</a>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form>

            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome da Escola</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
              </div>

            </div>

            <!-- <hr class="my-4" /> -->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
