<!-- py-5 py-lg-8 -->
<div class="header bg-gradient-danger py-5 py-lg-2">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-4">
          <!-- <h1 class="text-white">Pense Diferente</h1> -->
          <img style="margin-left: -60px; width: 300px; padding-top: 10px; padding-bottom: -20px;" src="./assets/img/brand/red_pense.png" class="navbar-brand-img" alt="...">
          <p class="text-lead text-light"></p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- pb-5 -->
<div class="container mt--3">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-5">

      <div class="card bg-secondary shadow border-0">

        <!-- px-lg-5 py-lg-5 -->
        <div class="card-body">
          <form role="form">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="TESTE" type="text" #valorDoInputUsuario>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="123" type="password" #valorDoInputSenha>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary my-4" (click)="btnAcessar(valorDoInputUsuario.value, valorDoInputSenha.value)">Acessar</button>
            </div>
          </form>
        </div>

        <div *ngIf="alertaUsuarioHeSenha" class="alert alert-warning alert-dismissible fade show" role="alert">
          <span class="alert-inner--icon"><i class="ni ni-notification-70"> </i></span>
          <span class="alert-inner--text"><strong> Atenção! </strong> Usuário e Senha estão errados!</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" (click)="fecharAlerta()">×</span>
          </button>
        </div>

      </div>

    </div>
  </div>
</div>



