<div class="header bg-gradient-danger pb-6 pt-2 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <div class="row">

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Alunos</h5>
                  <span class="h2 font-weight-bold mb-0">1</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->

  <div class="row mt-5">
    <div class="col-md-3">
      <div class="card bg-default shadow">

        <button class="btn btn-icon btn-3 btn-primary" type="button" [routerLink]="['/formulario-alunos']">
          <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
          <span class="btn-inner--text">Novo Aluno</span>
        </button>

      </div>
    </div>
  </div>

  <!-- Dark table -->
  <div class="row mt-5" style="height:500px;">
    <div class="col">
      <div class="card bg-default shadow">

        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Alunos</h3>
        </div>

        <div class="table-responsive">

          <table class="table align-items-center table-dark table-flush">

            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>

              <tr>

                <td>
                  0007
                </td>

                <td>
                  Ailton
                </td>

                <td>
                  116
                </td>

                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                      <a class="dropdown-item" href="javascript:void(0)">Deletar</a>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>


</div>


