<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;">

  <span class="mask bg-gradient-danger opacity-8"></span>

</div>

<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Formulário de Alunos</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-primary">Salvar</a>
            </div>
          </div>
        </div>
        <div class="card-body">

          <form>

            <div class="pl-lg-4">

              <div class="row">

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nome</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Data de Nascimento</label>
                    <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="dateOfBirth" (ngModelChange)="dateOfBirth = formatDate($event)" placeholder="dd/mm/yyyy">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">CPF</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="" maxlength="11" (ngModelChange)="transformCPF($event)">
                    <!-- <input type="text" [(ngModel)]="cpf" [ngModelOptions]="{updateOn: 'blur'}" [value]="cpf | cpfFormat" /> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Endereço</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Celular</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="" maxlength="9" pattern="\d*">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Escola</label>
                    <select [(ngModel)]="selectedOption" id="input-username" class="form-control form-control-alternative">
                      <option *ngFor="let opcoesEcolas of _listaDeEscolasStorage" [value]="opcoesEcolas.sDescricao" id={{opcoesEcolas.iCodEscola}} class="form-control form-control-alternative">{{ opcoesEcolas.sDescricao }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Data de Nascimento</label>
                    <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="dateOfBirth" (ngModelChange)="dateOfBirth = formatDate($event)" placeholder="dd/mm/yyyy">
                  </div>
                </div>
              </div> -->

            </div>

            <!-- <hr class="my-4" /> -->

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
