<div class="header bg-gradient-danger pb-6 pt-2 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <div class="row">

        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">

              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Escolas</h5>
                  <span class="h2 font-weight-bold mb-0">{{this._listaDeEscolasStorage.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="row mt-5">
    <div class="col-md-3">
      <div class="card bg-default shadow">

        <button class="btn btn-icon btn-3 btn-primary" type="button" [routerLink]="['/formulario-escolas']">
          <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
          <span class="btn-inner--text">Nova Escola</span>
        </button>

      </div>
    </div>
  </div>

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">

        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Escolas</h3>
        </div>

        <form>

          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                  </div>
                  <input class="form-control form-control-alternative" placeholder="Pesquisar" type="text" (keyup)="btnFiltroEscola($event)">
                </div>
              </div>
            </div>

          </div>

        </form>

        <div class="table-responsive">

          <table class="table align-items-center table-dark table-flush">

            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody>

              <tr *ngFor="let cadaEscola of this._listaDeEscolasStorage">

                <td>
                  {{cadaEscola.iCodEscola}}
                </td>

                <td>
                  {{cadaEscola.sDescricao}}
                </td>

                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Editar</a>
                      <a class="dropdown-item" href="javascript:void(0)">Deletar</a>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>


</div>
